body {
    margin: 0;
}

.container-fluid {
    max-width: 55rem;
    margin-bottom: 3rem;
}

#header-jumbotron {
    padding: 0;
}

.jumbotron {
    margin-bottom: 0;
}

.navbar {
    margin-top: 0;
}

.h1 {
    margin-bottom: 2rem;
}

p {
    padding-left: 2rem;
    padding-right: 2rem;
}

.card {
    width: 15rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 0;
}