body {
    margin: 0em;
    font-family: sans-serif;
    background: rgba(168,0,83,0.42);
}

main {
    text-align: center;
}

h2 {
    color: #b80016;
    background: rgba(141,0,19,0.45);
    padding: 0.5em;
}